In [1]:
#Program which accepts the radius of a circle from the user and compute the area
pi = 3.14
while True: 
    try:
        rad = input("Enter radius : ")
        rad = float(rad)
        area = pi * rad**2
        print('The area of the circle with radius ',rad , 'is ', area)
        break
    except:
        print('Enter a valid radius.')

Enter radius : 10
The area of the circle with radius  10.0 is  314.0

In [2]:
#Program to check if a number is positive, negative or zero
while True:
    try:
        num = input('Enter a number to check its nature : ')
        num = float(num)
        if num > 1:
            print('positive')
        elif num < 1:
            print('negetive')
        elif num == 0:
            print('zero')
        break
    except:
        print('Invalid entry.')

Enter a number to check its nature : 10
positive

In [3]:
#Program that accepts an integer (n) and computes the value of (n+nn+nnn)
while True:
    try:
        n = input('Enter a number : ')
        n = int(n)
        n1 = str(n) + str(n)
        n2 = str(n) + str(n) + str(n)
        compute = n + int(n1) + int(n2)
        print('n + n n + n n n = ' , n , '+' , n , n , '+' , n , n , n , '=' , compute)
        break
    except:
        print('Invalid entry. The number should be an integer.')

Enter a number : 10
n + n n + n n n =  10 + 10 10 + 10 10 10 = 102030

In [4]:
#program to test whether a passed letter is a vowel or not
def main():
        letter = input('Enter a letter to check if its a vowel or not : ')
        check(letter)
def check(let):
    if let == 'a' or let == 'e' or let == 'i' or let == 'o' or let == 'u' or let =='A' or let == 'E' or let == 'I' or let == 'O' or let == 'U':
        print('The letter is a vowel')
    else:
        print('The letter is not a vowel')
main()

Enter a letter to check if its a vowel or not : vinay
The letter is not a vowel

In [5]:
#program to convert temperatures to and from Celsius, Fahrenheit
def main():
    while True:
        try:
            print('Enter an option from the menu: \n1. Fahrenheit to celcius\n2. Celcius to Fahrenheit')
            option = int(input('---------------------------------------------------------------\n'))
            if option == 1:
                f2c()
            elif option == 2:
                c2f()
            break
        except:
            print('Invalid entry, enter again.')
def f2c():
    print('---------------------------------------------------------\nFahrenheit to Celcius ')
    temp = float(input('enter temperature : '))
    ctemp = (32 * temp - 32) * 5/9
    print('Temperature in celcius :' , ctemp)
def c2f():
    print('----------------------------------------------------------\nCelcius to Fahrenheit ')
    temp = float(input('enter temperature : '))
    ftemp = (temp * 9/5) + 32
    print('Temperature in fahrenheit :' , ftemp)
main()

Enter an option from the menu:
1. Fahrenheit to celcius
2. Celcius to Fahrenheit
---------------------------------------------------------------
5

In [6]:
# count vowels / consonants ----
print('To count vowels / consonants.')
string = input('Enter string: ')
string = string.lower()
vowelcount = 0
consonantcount = 0
for s in string :
    if s == 'a' or s == 'e' or s == 'i' or s == 'o' or s == 'u' :
        vowelcount += 1
    else: 
        consonantcount +=1 
print('number of vowels : ',vowelcount,'\nnumber of consonants : ',consonantcount)

To count vowels / consonants.
Enter string: vinay
number of vowels :  2
number of consonants :  3

In [7]:
#---- Pattern with nested loop ----
for row in range(10) :
    for col in range (row):
        print(row , end="")
    print("")

1
22
333
4444
55555
666666
7777777
88888888
999999999

In [8]:
#---- pattern with nested loop ----
for row in range(1, 6):
    for col in range(1, row+1):
        print(col, end ='')
    print("")
for row in range(4, 0, -1):
    for col in range(1, row + 1):
        print(col, end ='')
    print("")

1
12
123
1234
12345
1234
123
12
1

In [9]:
#---- pattern with nested loop ----
for row in range(1, 6):
    for col in range(1, row+1):
        print('*', end ='')
    print("")
for row in range(4, 0, -1):
    for col in range(1, row + 1):
        print('*', end ='')
    print("")

*
**
***
****
*****
****
***
**
*

In [10]:

#---- program that accepts a string and calculate the number of digits and letters ----
print('To count letters and digits in a given string')
string = input('Enter string : ')
digits = 0
letters = 0
for s in string :
    if s.isdigit() :
        digits += 1
    elif s.isalpha() :
        letters += 1
print('Letters : ',letters ,'\nDigits : ',digits)

To count letters and digits in a given string
Enter string : vinay77
Letters :  5
Digits :  2

In [11]:
#---- program to create the multiplication table (from 1 to 10) of a number ---
print('Multiplicaion table (1 to 10)')
num = int(input('Enter a number to see its table : '))
for i in range(1, 11) :
    print(num , 'x' , i ,'=' , num * i )

Multiplicaion table (1 to 10)
Enter a number to see its table : 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [12]:
#---- program to get the Fibonacci series between 0 to 50 ----
print('The Fibonacci series')
num = int(input('Enter the number of digits that you want in the series : '))
first = 0
second = 1
nextnum = 0
print(first , second , end=' ')
for num in range(2, num) :
    nextnum = first + second
    print(nextnum , end = ' ')
    first = second 
    second = nextnum

The Fibonacci series
Enter the number of digits that you want in the series : 5
0 1 1 2 3

In [13]:
#-----------------SUPERMARKET MANAGEMENT SYSTEM--------------------
items = []
while True:
    display = input('Press enter to continue.')
    print('------------------Welcome to the supermarket------------------')
    print('1. View items\n2. Add items for sale\n3. Purchase items\n4. Search items \n5. Edit items\n6. Exit')
    choice = input('Enter the number of your choice : ')

    if choice == '1' :
        print('------------------View Items------------------')
        print('The number of items in the inventory are : ',len(items))
        while len(items) != 0:
            print('Here are all the items available in the supermarket.')
            for item in items:
                for key, value in item.items():
                    print(key, ':', value)
            break

    elif choice == '2' :
        print('------------------Add items------------------')
        print('To add an item fill in the form')
        # while True:
        #     try:
        #         number_items = int(input('Enter the number of items you want to add in the inventory : '))
        #         break
        #     except ValueError:
        #         print('Number of items should only be in digits')
        # for num in range(number_items):
        item = {}
        item['name'] = input('Item name : ')
        while True:
            try:
                item['quantity'] = int(input('Item quantity : '))
                break
            except ValueError:
                print('Quantity should only be in digits')
        while True:
            try:
                item['price'] = int(input('Price $ : '))
                break
            except ValueError:
                print('Price should only be in digits')
        print('Item has been successfully added.')
        items.append(item)

    elif choice == '3' :
        print('------------------purchase items------------------')
        print(items)
        purchase_item = input('which item do you want to purchase? Enter name : ')
        for item in items:
            if purchase_item.lower() == item['name'].lower() :
                if item['quantity'] != 0 :
                    print('Pay ', item['price'] , 'at checkout counter.')
                    item['quantity'] -= 1
                else: 
                    print('item out of stock.')

    elif choice == '4' :
        print('------------------search items------------------')
        find_item = input('Enter the item\'s name to search in inventory : ')
        for item in items:
            if item['name'].lower() == find_item.lower():
                print('The item named ' + find_item + ' is displayed below with its details')
                print(item)
            else:
                print('item not found.')

    elif choice == '5' :
        print('------------------edit items------------------')
        item_name = input('Enter the name of the item that you want to edit : ')
        for item in items:
            if item_name.lower() == item['name'].lower():
                print('Here are the current details of ' + item_name)
                print(item)
                item['name'] = input('Item name : ')
                while True:
                    try:
                        item['quantity'] = int(input('Item quantity : '))
                        break
                    except ValueError:
                        print('Quantity should only be in digits')
                while True:
                    try:
                        item['price'] = int(input('Price $ : '))
                        break
                    except ValueError:
                        print('Price should only be in digits')
                print('Item has been successfully updated.')
                print(item)
            else:
                print('Item not found')
                
    elif choice == '6' :
        print('------------------exited------------------')
        break

    else: 
         print('You entered an invalid option')

Press enter to continue.1
------------------Welcome to the supermarket------------------
1. View items
2. Add items for sale
3. Purchase items
4. Search items
5. Edit items
6. Exit
Enter the number of your choice : 2
------------------Add items------------------
To add an item fill in the form
Item name : laptop
Item quantity : 5
Price $ : 1000
Item has been successfully added.
Press enter to continue.1
------------------Welcome to the supermarket------------------
1. View items
2. Add items for sale
3. Purchase items
4. Search items
5. Edit items
6. Exit
Enter the number of your choice : 1
------------------View Items------------------
The number of items in the inventory are :  1
Here are all the items available in the supermarket.
name : laptop
quantity : 5
price : 1000
Press enter to continue.6
------------------Welcome to the supermarket------------------
1. View items
2. Add items for sale
3. Purchase items
4. Search items
5. Edit items
6. Exit
Enter the number of your choice : 6
------------------exited------------------

In [14]:
# Password match the required criteria:
def PasswordMatchCriteria(pas):
    upper,lower,special,num = 0,0,0,0  
    for x in pas:
        if (len(pas) >= 6) and (len(pas) <=12):
            if x.isupper():
                upper+=1
            elif x.islower():
                lower+=1
            elif x.isnumeric():
                num +=1
            elif x.isspace():
                j = 0
            else:
                special += 1
    if (upper > 0) and (lower > 0) and (special > 0) and (num > 0):
        return True
    else:
        False
passwords = input("Enter Passwords which are seperated by \",\": ")
password = passwords.split(",")
for i in password:
    if PasswordMatchCriteria(i):
        print(i)

Enter Passwords which are seperated by ",": ABd1234@1
ABd1234@1

In [15]:
# Calculate Number of dates between two Dates
def DaysBetweenTwoMonths(month1,month2):
    days = 0
    for i in range(month1+1,month2+1):
        if i == 6:
            days += 31
        elif i == 2:
            days += 28
        elif i%2 == 0 :
            days+=30
        else:
            days+= 31
    return days
date1 = input ("Enter Date in format (dd/mm/yy): ")
date2 = input ("Enter Date in format (dd/mm/yy): ")
dt1 = date1.split("/")
dt2 = date2.split("/")
day1 = int (dt1[0]) 
day2 = int (dt2[0])
month1 = int(dt1[1])
month2 = int(dt2[1])
year1 = int(dt1[2])
year2 = int(dt2[2])
days1 = abs(day2-day1)
days2 = DaysBetweenTwoMonths(month1,month2)
days3 = abs(year2-year1)*365
print("Total Days between Date: {} and Date: {} is {}".format(date1,date2,(days1+days2+days3)))

Enter Date in format (dd/mm/yy): 12/12/2018
Enter Date in format (dd/mm/yy): 16/12/2018
Total Days between Date: 12/12/2018 and Date: 16/12/2018 is 4

In [16]:
# Pyhton Program to construct pattern
for i in range(1,6):
    for x in range(1,i):
        print("*",end=" ")
    print("")
for i in range(6,1,-1):
    for x in range(1,i):
        print("*",end=" ")
    print("")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [17]:
# Pyhton Program to construct pattern
for i in range(1,6):
    for x in range(1,i):
        print(x,end=" ")
    print("")
for i in range(6,1,-1):
    for x in range(1,i):
        print(x,end=" ")
    print("")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [19]:
# Pyhton Program to construct pattern
n = int(input ("Enter Number: "))
for i in range(1,n+1):
    for x in range(1,i+1):
        print(i,end=" ")
    print("")

Enter Number: 6
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6

In [20]:
def createMatrix():
  _matrix = []
 
  ms=int(input("Enter no. of matrices to create: "))
 
  for i in range(ms):
    print("\nMatrix %i"%(i+1))
    r=int(input("\tEnter no. of rows: "))
    c=int(input("\tEnter no. of columns: "))
 
    m=[]
    b=[]
 
    for i in range(r):
      for j in range(c):
        v= int(input("\tEnter value for row "+str(i)+" column "+str(j)+": "))
        b.append(v)
      m.append(b)
      b=[]
   
    _matrix.append(m)
 
  return _matrix
 
matrix = createMatrix()
 
# Sample 2 Matrices assigning to m1 & m2
m1 = matrix[0]
m2 = matrix[1]

c=[]

for i in range(len(m1)):
  if (len(m1) != len(m2)) or (len(m1[i]) != len(m2[i])):
    print("Not possible")
    break

  for j in range(len(m1[i])):
    c.append(m1[i][j]+m2[i][j])

print(c)

Enter no. of matrices to create: 2

Matrix 1
	Enter no. of rows: 2
	Enter no. of columns: 2
	Enter value for row 0 column 0: 2
	Enter value for row 0 column 1: 2
	Enter value for row 1 column 0: 2
	Enter value for row 1 column 1: 2

Matrix 2
	Enter no. of rows: 2
	Enter no. of columns: 2
	Enter value for row 0 column 0: 2
	Enter value for row 0 column 1: 2
	Enter value for row 1 column 0: 2
	Enter value for row 1 column 1: 2
[4, 4, 4, 4]

In [24]:
#Given a number N.Find Sum of 1 to N Using Recursion

def rec(n):
    if n == 0:
        return n
    return rec(n - 1) + n


n = int(input())
sum = rec(n)
print(sum)

5
15

#Define a function which can generate a dictionary where the keys are numbers between 1 and 20 (both included) and the values are square of keys. The function should just print the values only.

In [1]:
def printDict():
	d=dict()
	for i in range(1,21):
		d[i]=i**2
	for (k,v) in d.items():	
		print(v)

printDict()

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400

Define a function which can generate and print a list where the values are square of numbers between 1 and 20 (both included).

In [2]:
def printList():
	li=list()
	for i in range(1,21):
		li.append(i**2)
	print(li)

printList()

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

Define a function which can generate and print a list where the values are square of numbers between 1 and 20 (both included).

In [4]:
def printList():
	li=list()
	for i in range(1,21):
		li.append(i**2)
	print(li)

printList()

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

Define a function which can generate a list where the values are square of numbers between 1 and 20 (both included). Then the function needs to print all values except the first 5 elements in the list.

In [6]:
def printList():
	li=list()
	for i in range(1,21):
		li.append(i**2)
	print(li[5:])

printList()

[36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

Define a function which can generate and print a tuple where the value are square of numbers between 1 and 20 (both included).

In [7]:
def printTuple():
	li=list()
	for i in range(1,21):
		li.append(i**2)
	print(tuple(li))
		
printTuple()

(1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400)

In [9]:
#Define a class named Circle which can be constructed by a radius. The Circle class has a method which can compute the area.

class Circle(object):
    def __init__(self, r):
        self.radius = r

    def area(self):
        return self.radius**2*3.14

aCircle = Circle(2)
print(aCircle.area())

12.56

In [11]:
#Write a function to compute 5/0 and use try/except to catch the exceptions.

def throws():
    return 5/0

try:
    throws()
except ZeroDivisionError:
    print("division by zero!")
except:
    print('Caught an exception')
finally:
    print('In finally block for cleanup')

division by zero!
In finally block for cleanup

In [12]:
#Write a binary search function which searches an item in a sorted list. The function should return the index of element to be searched in the list.

import math
def bin_search(li, element):
    bottom = 0
    top = len(li)-1
    index = -1
    while top>=bottom and index==-1:
        mid = int(math.floor((top+bottom)/2.0))
        if li[mid]==element:
            index = mid
        elif li[mid]>element:
            top = mid-1
        else:
            bottom = mid+1

    return index

li=[2,5,7,9,11,17,222]
print(bin_search(li,11))
print(bin_search(li,12))

4
-1

Define a class Person and its two child classes: Male and Female. All classes have a method "getGender" which can print "Male" for Male class and "Female" for Female class.

In [14]:
class Person(object):
    def getGender( self ):
        return "Unknown"

class Male( Person ):
    def getGender( self ):
        return "Male"

class Female( Person ):
    def getGender( self ):
        return "Female"

aMale = Male()
aFemale= Female()
print(aMale.getGender())
print(aFemale.getGender())

Male
Female

In [15]:
#Write a program that accepts a sentence and calculate the number of upper case letters and lower case letters.

word = input()
upper, lower = 0, 0

for i in word:
    if "a" <= i and i <= "z":
        lower += 1
    if "A" <= i and i <= "Z":
        upper += 1

print("UPPER CASE {0}\nLOWER CASE {1}".format(upper, lower))

hello World
UPPER CASE 1
LOWER CASE 9

Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number.The numbers obtained should be printed in a comma-separated sequence on a single line.

In [16]:
lst = []

for i in range(1000, 3001):
    flag = 1
    for j in str(i):  # every integer number i is converted into string
        if ord(j) % 2 != 0:  # ord returns ASCII value and j is every digit of i
            flag = 0  # flag becomes zero if any odd digit found
    if flag == 1:
        lst.append(str(i))  # i is stored in list as string

print(",".join(lst))

2000,2002,2004,2006,2008,2020,2022,2024,2026,2028,2040,2042,2044,2046,2048,2060,2062,2064,2066,2068,2080,2082,2084,2086,2088,2200,2202,2204,2206,2208,2220,2222,2224,2226,2228,2240,2242,2244,2246,2248,2260,2262,2264,2266,2268,2280,2282,2284,2286,2288,2400,2402,2404,2406,2408,2420,2422,2424,2426,2428,2440,2442,2444,2446,2448,2460,2462,2464,2466,2468,2480,2482,2484,2486,2488,2600,2602,2604,2606,2608,2620,2622,2624,2626,2628,2640,2642,2644,2646,2648,2660,2662,2664,2666,2668,2680,2682,2684,2686,2688,2800,2802,2804,2806,2808,2820,2822,2824,2826,2828,2840,2842,2844,2846,2848,2860,2862,2864,2866,2868,2880,2882,2884,2886,2888

Given 2 arrays, first array with N elements and second array with N-1 elements.
All elements from the first array exist in the second array, except one. Find the missing number.

Sample input:   [1, 2, 3, 4, 5], [1, 2, 3, 4]

Sample output:  5

In [19]:
def find_missing_number(arr1, arr2):
    n = len(arr2)
    mod = 10000	    # this can be every number, this should be true max_length * mod < max_integer
    sum_diff = 0
    mod_diff = 0
    i = 0

    while i < n:
        # this is in case if we have too big numbers and to big arrays
        sum_diff += arr1[i] % mod - arr2[i] % mod
        mod_diff += arr1[i] // mod - arr2[i] // mod
        i += 1

    # don't forget the last element from the first array!
    sum_diff += arr1[n] % mod
    mod_diff += arr1[n] // mod

    return mod * mod_diff + sum_diff

In [20]:
# Test 1
# Correct result => 33333333
arr1 = [2131, 2122221, 64565, 33333333, 994188129, 865342234]
arr2 = [994188129, 2122221, 865342234, 2131, 64565]
print(find_missing_number(arr1, arr2))

33333333

Find the only missing integer in a sequence,
all numbers are integers and they're smaller or equal to N+1 (N is length of the array).

Input: [2, 1, 4]

Output: 3

In [21]:
def missing_number(nums):
    s = sum(nums)
    n = len(nums) + 1
    # sum formula (sum of the first n numbers) = (N*(N+1))/2
    return n * (n + 1) // 2 - s


###########
# Testing #
###########

# Test 1
# Correct result => 4
print(missing_number([2, 3, 1]))

4

A peak element is an element that is greater than its neighbors.
Given an input array nums, where nums[i] ≠ nums[i+1], find a peak element and return its index.

The array may contain multiple peaks, in that case return the index to any one of the peaks is fine.

You may imagine that nums[-1] = nums[n] = -∞.

Input: [1, 2, 3, 1]

Output: 2

Output explanation: 3 is a peak element and your function should return the index number 2.

In [22]:
def find_peak_element(nums):
    l = 0
    r = len(nums) - 1

    while l < r:
        mid = (l + r) // 2
        if nums[mid] > nums[mid + 1]:
            # go left if the current value is smaller than the next one
            # in this moment you're sure that there is a peak element left from this one
            r = mid
        else:
            # go right if the current value is smaller than the next one
            # if the l comes to the end and all elements were in ascending order, then the last one is peak (because nums[n] is negative infinity)
            l = mid + 1

    return l


###########
# Testing #
###########

# Test 1
# Correct result => 2
print(find_peak_element([1, 2, 3, 1]))

2

Array rotation/shifting

Rotate array in right (or left) for K places.

Input: [1, 2, 3, 4, 5, 6], 1

Output: [6, 1, 2, 3, 4, 5]

Input: [1, 2, 3, 4, 5, 6], 3

Output: [4, 5, 6, 1, 2, 3]

In [23]:
def rotate_array_1(arr, k, right = True):
    n = len(arr)
    right %= n

    # going right for K places is same like going left for N-K places
    if right:
        k = n - k

    # the shortest way to swap 2 parts of the array
    return arr[k:] + arr[:k]

In [25]:
# Test 1
# Correct result => [4, 5, 6, 7, 8, 9, 10, 1, 2, 3]
arr = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
k = 7
print(rotate_array_1(arr, k))

[4, 5, 6, 7, 8, 9, 10, 1, 2, 3]

In [26]:
#Reverse array

def reverse_arr(arr):
    start = 0
    end = len(arr) - 1

    while start < end:
        # reverse the array from the start index to the end index by
        # swaping each element with the pair from the other part of the array
        swap(arr, start, end)
        start += 1
        end -= 1

    return arr

def swap(arr, i, j):
    # swapping two elements from a same array
    arr[i], arr[j] = arr[j], arr[i]
    '''same as
    temp = arr[i]
    arr[i] = arr[j]
    arr[j] = temp
    '''


###########
# Testing #
###########

# Test 1
# Correct result => [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
print(reverse_arr([1, 2, 3, 4, 5, 6, 7, 8, 9, 10]))

# Test 2
# Correct result => [5, 4, 3, 2, 1]
print(reverse_arr([1, 2, 3, 4, 5]))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[5, 4, 3, 2, 1]

Array rotation/shifting

Rotate array in right (or left) for K places.

Input: [1, 2, 3, 4, 5, 6], 1

Output: [6, 1, 2, 3, 4, 5]

Input: [1, 2, 3, 4, 5, 6], 3

Output: [4, 5, 6, 1, 2, 3]

In [27]:
def rotate_array_1(arr, k, right = True):
    n = len(arr)
    right %= n

    # going right for K places is same like going left for N-K places
    if right:
        k = n - k

    # the shortest way to swap 2 parts of the array
    return arr[k:] + arr[:k]

In [28]:
# Correct result => [4, 5, 6, 7, 8, 9, 10, 1, 2, 3]
arr = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
k = 7
print(rotate_array_1(arr, k))

[4, 5, 6, 7, 8, 9, 10, 1, 2, 3]

In [29]:
# Correct result => [6, 1, 2, 3, 4, 5]
arr = [1, 2, 3, 4, 5, 6]
k = 1
print(rotate_array_1(arr, k))

[6, 1, 2, 3, 4, 5]

Majority Element

Given an array of size n, find the majority element.

The majority element is the element that appears more than ⌊ n/2 ⌋ times.

You may assume that the array is non-empty and the majority element always exist in the array.

Input: [3, 2, 3]

Output: 3

Input: [2, 2, 1, 1, 1, 2, 2]

Output: 2

In [30]:
def majority_element_2(nums):
    counter = {}

    for num in nums:
        if num in counter:
            counter[num] += 1
        else:
            counter[num] = 1

    half = len(nums) // 2
    for num in counter:
        if counter[num] > half:
            return num

In [33]:
arr = [3, 2, 3]
print(majority_element_2(arr))

3

In [34]:
arr = [2, 2, 1, 1, 1, 2, 2]
print(majority_element_2(arr))

2

In [35]:
import random

random.seed()

num = random.randint(1, 100)

def guess_num(num, num1):
    if num > num1:
        return ("Too low.")
    elif num < num1:
        return ("Too high.")
    else:
        return "yes"
    
print("\nGame starts.\nType exit to quit.")
count = 0
while True:
    num1 = input("Guess the number: ")
    count += 1
    if num1 == "exit":
        break
    
    result = guess_num(num, int(num1))
    if result == "yes":
        print("Congrats!!! You have guessed the correct number in " + str(count) + " attempts.")
        break
    else:
        print(result)
        continue


# Number guessing game

Game starts.
Type exit to quit.
Guess the number: 56
Too high.
Guess the number: 30
Too low.
Guess the number: 40
Too low.
Guess the number: 45
Too low.
Guess the number: 48
Too low.
Guess the number: 49
Congrats!!! You have guessed the correct number in 6 attempts.